@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
textarea,
select {
  font: inherit;
  background-color : #d1d1d1; 
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ "
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

.dash-footer__span {
  font-size: 1rem;
  width: auto;
  height: auto;
  text-align: right;
}


/* my own css */
ul {
    list-style: none;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
}
ul li {
    display: block;
    padding: 1px 0;
}

nav {
  height: 50px;
}

a {
  display: inline;
  padding: 0px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  transition: background-color 0.5s;
}

a:hover {
  background-color: #555;
  color: rgb(0, 195, 255);
}

/* animation */
h3{
  color: rgb(182, 199, 105);
}
a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(72, 100%, 80%);
  z-index: -1;
  transition: transform .7s ease;
}

a {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(194, 135, 72);
}

.program-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px 5px;
}


.subnav{
  float: left;
  padding: 20px;
}

.all-programs-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px 5px;
  margin-top: 20px;
  
}

.program-folder{
  border-radius: 15px;
  position:relative;
  height:150px;
  width: 300px;
  top: 10px;
  /* display: inline-block; */
  margin: 10px auto;
  text-align: left;
  /* overflow-wrap: break-word; */
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.721);
  padding: .5rem;
  flex: 1 1 auto;
  background-color:  rgba(55, 121, 197, 0.499);
}

.program-folder-ear{
    font-size: 1rem;
    font-family:'Anton';
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 2rem;
    padding:.5rem;
    position:absolute;
    left:15px;
    top:-32px;
    z-index: 1;
    background-color: rgba(55, 121, 197, 0.499);
}


/* buttons */

.button-paper {
  align-self: center;
  background-color: #4d8cc7;
  background-image: none;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  cursor: pointer;
  font-size: .8rem;
  line-height: 15px;
  padding: .2rem;
  text-decoration: none;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-paper:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-paper:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* forms */
.form-wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    
}

.form-wrapper .error{
  color: red;
}

.form-container {
  border-radius: 5px;
  padding: 10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.instructor-list-container{
    margin-top: 2px;
    width: 100%;
    height: 600px;
    /* border: solid 1px #ffffff; */
    /* overflow: hidden;  */
}

.instructor-left{
    /* padding: 2px; */
    width: 50%;
    height: auto;
    float: left; /* add this */
    display: block;
    /* border: 1px solid rgb(255, 255, 255); */
    /* border-style: dotted; */
}

.instructor-right{
    font-size: 1.2em;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    padding: 10px;
    width: 50%;
    height: 600px;
    float: left; /* add this */
    border: 1px solid rgb(250, 252, 255);
    /* background-color:  rgba(255, 255, 255, 0.499); */
}
